<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">
        Username:
        <input type="text" name="username" />

        Password:
        <input type="password" name="password" />

        Confirm Password:
        <input type="password" name="confirmPassword" />
        <button type="submit">Sign Up</button>

        

         <div class="avatar-container">
        choose profile pic:
        <input type="radio" name="avatar" value="/images/snake-F.png">
        <img src="/images/snake-F.png" width="80">


       
        <input type="radio" name="avatar" value="/images/bird-F.png">
        <img src="/images/bird-F.png" width="80">


        <input type="radio" name="avatar" value="/images/seahorse-F.png">
        <img src="/images/seahorse-F.png" width="80">

        <input type="radio" name="avatar" value="/images/frog-F.png">
        <img src="/images/frog-F.png" width="80">

        <input type="radio" name="avatar" value="/images/chameleon-F.png">
        <img src="/images/chameleon-F.png" width="80">

        <input type="radio" name="avatar" value="/images/fish-F.png">
        <img src="/images/fish-F.png" width="80">
    </div>

    </form>

</body>
</html>