<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
</body>
</html>

<h1>Welcome to the travel planner app</h1>

    <% if (user) { %>
        <div id="dashboard-buttons">
        <form action="/dashboard">
            <button type="submit">Go to dashboard</button>
        </form>
        <form action="/trips">
            <button type="submit">View trips</button>
        </form>
        </div>
        <form action="/auth/sign-out?_method=DELETE" method="POST">
            <button type="submit">Sign Out</button>
        </form>

  
    <% } else { %>
        <div id="dashboard-buttons">
        <form action="/auth/sign-up">
            <button type="submit">Sign Up</button>
        </form>
        <form action="/auth/sign-in">
            <button type="submit">Sign In</button>
        </form>
    </div>
    <% } %>

    
</body>
</html>