body{
    background-color: #CBEEF3;
    display: flex;
    flex-direction: column;
    min-width: 100dvw;
    align-items: center;
}
.trip-info {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100dvw;
    
}
.buttons button{
    border: 2px solid #880D1E;
    border-radius: 20px;
    background-color: #ffffff;
}
nav{
    min-width: 100dvw;
    margin-bottom: 30px; 
}

h1{
    color: #880D1E;
}

.navbar, navbar-expand-lg{
    background-color: #880D1E;
}
