<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>trip</h1>
    <a href="/trips/new">+ New Trip</a>
    
    <%allTrips.forEach((item)=>{%>
        <ul>
            <li>
                <a href="/trips/<%=item._id%>">
                <%=item.country%></a>
                <img src="<%=item.image.url%>" alt="" width="100">
            </li>
        </ul>
    
    <%})%>

    
</body>
</html>