<%- include('../partials/nav') %>

    <h1>Create Trip</h1>
    <form action="/trips" method="POST" enctype="multipart/form-data">
        country:
        <input type="text" name="country" id="">
        city:
        <input type="text" name="city">
        from:
        <input type="Date" name="from" id="">
        to:
        <input type="Date" name="to">
        budget:
        <input type="number" name="budget" min="0">
        status:
        <input type="text" name="status">
        image:
        <input type="file" name="image" min="0" accept="image/jpeg,image/png,image/webp,image/jpg">
        <button type="submit">Add Trip</button>
    </form>
</body>
</html>