<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>trip</h1>
    
    <ul>
    <a href="/trips/new">+ New Trip
    <li>
        <img src="<%=item.image.url%>" alt="" width="200px">
            A listing in <%=item.city%> owned by <%=item.owner.username%>
            </li>
        </a>
   </ul>
    
</body>
</html>